---
export const prerender = false;
import { checkUser } from '@utils/authCheck.js';
const user = await checkUser(Astro.request);
if (!user || !user?.authenticated) return Astro.redirect('/login');

import { getDataCollection } from '@utils/utils.js';
import Layout from  "@layouts/AdminLayout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import AuthorCard from "@components/article/authorCard.astro";

const authors = await getDataCollection("team")
// note: why do this twice, isn't author.id already the slug?
const author_slugs = authors.map((author) => author.data.name_slug);
// console.log(authors.map(a) => a.id);
---

<Layout pageTitle="Edit Team Members">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> Edit Team Memembers </Fragment>
      <Fragment slot="desc">  </Fragment>
    </Sectionhead>

    <main class="flex flex-wrap justify-center gap-5 mt-5">
      {Array.isArray(author_slugs) && author_slugs.map((slug) => (
        <div class="flex-none">
         <a href=`/admin/edit_team/${slug}` aria-label={slug} >
            <AuthorCard slug={slug} size="sm" />
         </a>
        </div>
      ))}
    </main>

  </Container>
</Layout>
