---
export const prerender = false; // SSR

// Import the Svelte component
import ArticleTable from '@components/admin/articleTable.svelte';
import Layout from "@layouts/AdminLayout.astro";
import { getAllArticles } from '@utils/utils.js';

const articles = await getAllArticles();
---

<Layout title="Article">
  <div id="articlestable" class="">
    <h1 class="text-3xl font-bold px-5">Edit Articles</h1>
    <main class="mt-2 px-5">
        <ArticleTable articles={articles} client:load />
    </main>
  </div>
</Layout>
