---
export const prerender = true;

import Layout from  "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import AuthorCard from "@components/article/authorCard.astro";
import { getTeam } from "@utils/utils.js";

const authors = await getTeam(({data}) => !data.draft);
// const author_slugs = authors.map((author) => author.id);
---

<Layout pageTitle="All Authors">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> All Authors </Fragment>
      <Fragment slot="desc"> found in the knowledge base </Fragment>
    </Sectionhead>

    <main class="flex flex-wrap justify-center gap-5 mt-5">
      {Array.isArray(authors) && authors.map(author => (
        <div class="flex-none"> <AuthorCard size="sm" author={author}/> </div>
      ))}
    </main>

  </Container>
</Layout>
