---
export const prerender = true;

import { ViewTransitions } from "astro:transitions";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { getCategories } from "@utils/utils.js";
import CategoryCard from "@components/article/categoryCard.astro";

const categories = await getCategories()
---

<Layout pageTitle="All Tags">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> Site Categories </Fragment>
      <Fragment slot="desc"> {categories.length} Categories  </Fragment>
    </Sectionhead>

      <main class="flex flex-wrap justify-center gap-20 mt-5 pb-40">
        {Array.isArray(categories) && categories.map((cat) => (
           <div class="flex-none"> <CategoryCard slug={cat.id} size="md" category={cat} /> </div>
        ))}
        <ViewTransitions/>
      </main>

  </Container>
</Layout>
