---
export const prerender = false;

import { db, eq, Team } from 'astro:db';
import Layout from '@layouts/AdminLayout.astro';
import { moderateComments_openai } from '@utils/utils.js';

const user = Astro.locals?.user;
//console.log('user', user);
const member = !!(await db.select().from(Team).where(eq(Team.email, user.email)))[0];
//console.log('member', member);

// let's do this in the background so that we don't get delays when going to comments
moderateComments_openai();

// user must be a team member in order to use admin area
if (!member) return Astro.redirect('/login');
---
<Layout user={user} >
  <div class="mx-auto text-center w-full">

    <h1 class="text-xl"> Admin Dashboard: {user?.role} </h1>

    {user && (
      <pre>{JSON.stringify(user, null, 2)}</pre>
    )}
    {!user && (
      <h2 class="text-lg"> No user object found </h2>
    )}
 </div>
</Layout>


