---
// Documentation of Props with comments (JavaScript doesn't support 'interface')
// Props should include:
//   href: string (required)
//   size: "md" | "lg" | "sm" (optional, default "lg")
//   block: boolean (optional)
//   style: "outline" | "primary" | "inverted" | "muted" (optional, default "primary")
//   class: string (optional)
//   [x: string]: any; (any other additional properties)

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-7 py-2.5",
  md: "px-5 py-2",
  sm: "px-4 py-2 text-sm",
};

const styles = {
  outline:
    "bg-white border-2 border-indigo-500 hover:bg-indigo-50 text-indigo-600 ",
  primary: "bg-indigo-600 text-white hover:bg-indigo-800",
  inverted: "bg-white text-indigo-800 border-2 border-transparent",
  muted: "bg-gray-100 hover:bg-gray-200 border-2 border-transparent",
};

---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-full text-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
